<main class="index">

<header class="masthead d-flex">
<div class="container text-center my-auto">
    <h1 class="mb-1">SPAyT</h1>
  
    <a href="/entrar" class="btn btn-primary">Empesemos</a>
</div>
</header>


</main>